In [134]:
# Dependencies

import pandas as pd
import numpy as np
import pylab as plt
from sklearn.decomposition import PCA
from pprint import pprint
from datetime import datetime
!pip install wbdata
import wbdata
import matplotlib.pyplot as plt

Requirement already satisfied: wbdata in c:\users\kampr\anaconda3\lib\site-packages (0.2.7)
Requirement already satisfied: decorator in c:\users\kampr\anaconda3\lib\site-packages (from wbdata) (4.4.0)

In [135]:
wbdata.get_source(2)

2	World Development Indicators

In [136]:
wbdata.search_indicators('emission', source=2)

EN.ATM.CO2E.GF.KT   	CO2 emissions from gaseous fuel consumption (kt)
EN.ATM.CO2E.GF.ZS   	CO2 emissions from gaseous fuel consumption (% of total)
EN.ATM.CO2E.KD.GD   	CO2 emissions (kg per 2010 US$ of GDP)
EN.ATM.CO2E.KT      	CO2 emissions (kt)
EN.ATM.CO2E.LF.KT   	CO2 emissions from liquid fuel consumption (kt)
EN.ATM.CO2E.LF.ZS   	CO2 emissions from liquid fuel consumption (% of total)
EN.ATM.CO2E.PC      	CO2 emissions (metric tons per capita)
EN.ATM.CO2E.PP.GD   	CO2 emissions (kg per PPP $ of GDP)
EN.ATM.CO2E.PP.GD.KD	CO2 emissions (kg per 2011 PPP $ of GDP)
EN.ATM.CO2E.SF.KT   	CO2 emissions from solid fuel consumption (kt)
EN.ATM.CO2E.SF.ZS   	CO2 emissions from solid fuel consumption (% of total)
EN.ATM.GHGO.KT.CE   	Other greenhouse gas emissions, HFC, PFC and SF6 (thousand metric tons of CO2 equivalent)
EN.ATM.GHGO.ZG      	Other greenhouse gas emissions (% change from 1990)
EN.ATM.GHGT.KT.CE   	Total greenhouse gas emissions (kt of CO2 equivalent)
EN.ATM.GHGT.ZG      	Total greenhouse gas emissions (% change from 1990)
EN.ATM.HFCG.KT.CE   	HFC gas emissions (thousand metric tons of CO2 equivalent)
EN.ATM.METH.AG.KT.CE	Agricultural methane emissions (thousand metric tons of CO2 equivalent)
EN.ATM.METH.AG.ZS   	Agricultural methane emissions (% of total)
EN.ATM.METH.EG.KT.CE	Methane emissions in energy sector (thousand metric tons of CO2 equivalent)
EN.ATM.METH.EG.ZS   	Energy related methane emissions (% of total)
EN.ATM.METH.KT.CE   	Methane emissions (kt of CO2 equivalent)
EN.ATM.METH.ZG      	Methane emissions (% change from 1990)
EN.ATM.NOXE.AG.KT.CE	Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)
EN.ATM.NOXE.AG.ZS   	Agricultural nitrous oxide emissions (% of total)
EN.ATM.NOXE.EG.KT.CE	Nitrous oxide emissions in energy sector (thousand metric tons of CO2 equivalent)
EN.ATM.NOXE.EG.ZS   	Nitrous oxide emissions in energy sector (% of total)
EN.ATM.NOXE.KT.CE   	Nitrous oxide emissions (thousand metric tons of CO2 equivalent)
EN.ATM.NOXE.ZG      	Nitrous oxide emissions (% change from 1990)
EN.ATM.PFCG.KT.CE   	PFC gas emissions (thousand metric tons of CO2 equivalent)
EN.ATM.SF6G.KT.CE   	SF6 gas emissions (thousand metric tons of CO2 equivalent)
EN.CLC.GHGR.MT.CE   	GHG net emissions/removals by LUCF (Mt of CO2 equivalent)
EN.CO2.BLDG.ZS      	CO2 emissions from residential buildings and commercial and public services (% of total fuel combustion)
EN.CO2.ETOT.ZS      	CO2 emissions from electricity and heat production, total (% of total fuel combustion)
EN.CO2.MANF.ZS      	CO2 emissions from manufacturing industries and construction (% of total fuel combustion)
EN.CO2.OTHX.ZS      	CO2 emissions from other sectors, excluding residential buildings and commercial and public services (% of total fuel combustion)
EN.CO2.TRAN.ZS      	CO2 emissions from transport (% of total fuel combustion)
NY.ADJ.DPEM.CD      	Adjusted savings: particulate emission damage (current US$)
NY.ADJ.DPEM.GN.ZS   	Adjusted savings: particulate emission damage (% of GNI)
NY.ADJ.SVNG.CD      	Adjusted net savings, including particulate emission damage (current US$)
NY.ADJ.SVNG.GN.ZS   	Adjusted net savings, including particulate emission damage (% of GNI)
NY.ADJ.SVNX.CD      	Adjusted net savings, excluding particulate emission damage (current US$)
NY.ADJ.SVNX.GN.ZS   	Adjusted net savings, excluding particulate emission damage (% of GNI)

In [137]:
co2_pc = wbdata.get_indicator('EN.ATM.CO2E.PC', display=False)
pprint(co2_pc)

[{'id': 'EN.ATM.CO2E.PC',
  'name': 'CO2 emissions (metric tons per capita)',
  'source': {'id': '2', 'value': 'World Development Indicators'},
  'sourceNote': 'Carbon dioxide emissions are those stemming from the burning '
                'of fossil fuels and the manufacture of cement. They include '
                'carbon dioxide produced during consumption of solid, liquid, '
                'and gas fuels and gas flaring.',
  'sourceOrganization': 'Carbon Dioxide Information Analysis Center, '
                        'Environmental Sciences Division, Oak Ridge National '
                        'Laboratory, Tennessee, United States.',
  'topics': [{'id': '19', 'value': 'Climate Change'},
             {'id': '6', 'value': 'Environment '}]}]

In [138]:
country_codes = []

country_codes.append(wbdata.search_countries("United States"))
country_codes.append(wbdata.search_countries("United Kingdom"))
country_codes.append(wbdata.search_countries("Japan"))
country_codes.append(wbdata.search_countries("Mexico"))
country_codes.append(wbdata.search_countries("India"))
country_codes.append(wbdata.search_countries("China"))

USA	United States
GBR	United Kingdom
JPN	Japan
MEX	Mexico
IND	India
CHN	China
HKG	Hong Kong SAR, China
MAC	Macao SAR, China
TWN	Taiwan, China

In [139]:
import datetime
data_dates = (datetime.datetime(1960,1,1), datetime.datetime(2015,1,1))

In [168]:
country_list = ["USA","GBR","JPN","MEX","IND","CHN"]
data = wbdata.get_dataframe({'EN.ATM.CO2E.PC':'values'}, 
                            country=country_list, 
                            data_date=data_dates, 
                            convert_date=False, keep_levels=True)

data = data.reset_index()
data = data.fillna(0)
data.head()

  country  date    values
0   China  2015  0.000000
1   China  2014  7.543908
2   China  2013  7.557211
3   China  2012  7.424751
4   China  2011  7.241515

In [163]:
# Plot the co2 emmisions for each countries
x_axis = data["date"].unique()

y_axis = data["values"]
print(x_axis)

['2015' '2014' '2013' '2012' '2011' '2010' '2009' '2008' '2007' '2006'
 '2005' '2004' '2003' '2002' '2001' '2000' '1999' '1998' '1997' '1996'
 '1995' '1994' '1993' '1992' '1991' '1990' '1989' '1988' '1987' '1986'
 '1985' '1984' '1983' '1982' '1981' '1980' '1979' '1978' '1977' '1976'
 '1975' '1974' '1973' '1972' '1971' '1970' '1969' '1968' '1967' '1966'
 '1965' '1964' '1963' '1962' '1961' '1960']

In [164]:
co2_plot = data.plot(x=x_axis)

KeyError: "None of [Index(['2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007',\n       '2006', '2005', '2004', '2003', '2002', '2001', '2000', '1999', '1998',\n       '1997', '1996', '1995', '1994', '1993', '1992', '1991', '1990', '1989',\n       '1988', '1987', '1986', '1985', '1984', '1983', '1982', '1981', '1980',\n       '1979', '1978', '1977', '1976', '1975', '1974', '1973', '1972', '1971',\n       '1970', '1969', '1968', '1967', '1966', '1965', '1964', '1963', '1962',\n       '1961', '1960'],\n      dtype='object')] are in the [columns]"

In [147]:
plot_indicators(country_list,
	'EN.ATM.CO2E.PC',1960,2015)

NameError: name 'country_data' is not defined

data = pd.read_csv("../Resources/Indicators.csv")

data.head()

gdp_us = data[data["IndicatorName"]=="GDP per capita (current US$)"]

gdp_us = gdp_us[gdp_us["CountryName"]=="United States"]

gdp_us.head()

country_list = ["United States","United Kingdom","Japan","China","India","Mexico"]

country_df = pd.DataFrame({"Country":country_list})

country_df.head()

co2_us = data[data["IndicatorName"]=="CO2 emissions (metric tons per capita)"]

co2_us = co2_us[co2_us["CountryName"].isin(country_df["Country"])]

co2_us.head(6)

x_axis = pd.DataFrame(co2_us["Year"].unique(),columns = "Year")
x_axis.head()

x_axis = co2_us["Year"].unique
y_axis = co2_us["Value"]

co2_us.plot(kind="line")