In [100]:
# Dependencies

import pandas as pd
import numpy as np
import pylab as plt
from sklearn.decomposition import PCA
from pprint import pprint
from datetime import datetime
!pip install wbdata
import wbdata

Collecting wbdata
  Downloading https://files.pythonhosted.org/packages/d8/a0/c83a8cb001885685f8344f4a6d3557ec3de73d367aea82dbb519aa6d2706/wbdata-0.2.7.tar.gz
Requirement already satisfied: decorator in c:\users\kampr\anaconda3\lib\site-packages (from wbdata) (4.4.0)
Building wheels for collected packages: wbdata
  Building wheel for wbdata (setup.py): started
  Building wheel for wbdata (setup.py): finished with status 'done'
  Created wheel for wbdata: filename=wbdata-0.2.7-cp37-none-any.whl size=15721 sha256=e1dafe2bf0385a2e10c6fbb8cb406d87ccd76688e294317d45ab4c073cb9b08a
  Stored in directory: C:\Users\kampr\AppData\Local\pip\Cache\wheels\57\61\6a\3978e90cf2f9443b94ce56b4fa839850da9076e697be3a27e3
Successfully built wbdata
Installing collected packages: wbdata
Successfully installed wbdata-0.2.7

In [107]:
wbdata.get_source(2)

2	World Development Indicators

In [108]:
wbdata.search_indicators('emission', source=2)

EN.ATM.CO2E.GF.KT   	CO2 emissions from gaseous fuel consumption (kt)
EN.ATM.CO2E.GF.ZS   	CO2 emissions from gaseous fuel consumption (% of total)
EN.ATM.CO2E.KD.GD   	CO2 emissions (kg per 2010 US$ of GDP)
EN.ATM.CO2E.KT      	CO2 emissions (kt)
EN.ATM.CO2E.LF.KT   	CO2 emissions from liquid fuel consumption (kt)
EN.ATM.CO2E.LF.ZS   	CO2 emissions from liquid fuel consumption (% of total)
EN.ATM.CO2E.PC      	CO2 emissions (metric tons per capita)
EN.ATM.CO2E.PP.GD   	CO2 emissions (kg per PPP $ of GDP)
EN.ATM.CO2E.PP.GD.KD	CO2 emissions (kg per 2011 PPP $ of GDP)
EN.ATM.CO2E.SF.KT   	CO2 emissions from solid fuel consumption (kt)
EN.ATM.CO2E.SF.ZS   	CO2 emissions from solid fuel consumption (% of total)
EN.ATM.GHGO.KT.CE   	Other greenhouse gas emissions, HFC, PFC and SF6 (thousand metric tons of CO2 equivalent)
EN.ATM.GHGO.ZG      	Other greenhouse gas emissions (% change from 1990)
EN.ATM.GHGT.KT.CE   	Total greenhouse gas emissions (kt of CO2 equivalent)
EN.ATM.GHGT.ZG      	Total greenhouse gas emissions (% change from 1990)
EN.ATM.HFCG.KT.CE   	HFC gas emissions (thousand metric tons of CO2 equivalent)
EN.ATM.METH.AG.KT.CE	Agricultural methane emissions (thousand metric tons of CO2 equivalent)
EN.ATM.METH.AG.ZS   	Agricultural methane emissions (% of total)
EN.ATM.METH.EG.KT.CE	Methane emissions in energy sector (thousand metric tons of CO2 equivalent)
EN.ATM.METH.EG.ZS   	Energy related methane emissions (% of total)
EN.ATM.METH.KT.CE   	Methane emissions (kt of CO2 equivalent)
EN.ATM.METH.ZG      	Methane emissions (% change from 1990)
EN.ATM.NOXE.AG.KT.CE	Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)
EN.ATM.NOXE.AG.ZS   	Agricultural nitrous oxide emissions (% of total)
EN.ATM.NOXE.EG.KT.CE	Nitrous oxide emissions in energy sector (thousand metric tons of CO2 equivalent)
EN.ATM.NOXE.EG.ZS   	Nitrous oxide emissions in energy sector (% of total)
EN.ATM.NOXE.KT.CE   	Nitrous oxide emissions (thousand metric tons of CO2 equivalent)
EN.ATM.NOXE.ZG      	Nitrous oxide emissions (% change from 1990)
EN.ATM.PFCG.KT.CE   	PFC gas emissions (thousand metric tons of CO2 equivalent)
EN.ATM.SF6G.KT.CE   	SF6 gas emissions (thousand metric tons of CO2 equivalent)
EN.CLC.GHGR.MT.CE   	GHG net emissions/removals by LUCF (Mt of CO2 equivalent)
EN.CO2.BLDG.ZS      	CO2 emissions from residential buildings and commercial and public services (% of total fuel combustion)
EN.CO2.ETOT.ZS      	CO2 emissions from electricity and heat production, total (% of total fuel combustion)
EN.CO2.MANF.ZS      	CO2 emissions from manufacturing industries and construction (% of total fuel combustion)
EN.CO2.OTHX.ZS      	CO2 emissions from other sectors, excluding residential buildings and commercial and public services (% of total fuel combustion)
EN.CO2.TRAN.ZS      	CO2 emissions from transport (% of total fuel combustion)
NY.ADJ.DPEM.CD      	Adjusted savings: particulate emission damage (current US$)
NY.ADJ.DPEM.GN.ZS   	Adjusted savings: particulate emission damage (% of GNI)
NY.ADJ.SVNG.CD      	Adjusted net savings, including particulate emission damage (current US$)
NY.ADJ.SVNG.GN.ZS   	Adjusted net savings, including particulate emission damage (% of GNI)
NY.ADJ.SVNX.CD      	Adjusted net savings, excluding particulate emission damage (current US$)
NY.ADJ.SVNX.GN.ZS   	Adjusted net savings, excluding particulate emission damage (% of GNI)

In [113]:
co2_pc = wbdata.get_indicator('EN.ATM.CO2E.PC', display=False)
pprint(co2_pc)

[{'id': 'EN.ATM.CO2E.PC',
  'name': 'CO2 emissions (metric tons per capita)',
  'source': {'id': '2', 'value': 'World Development Indicators'},
  'sourceNote': 'Carbon dioxide emissions are those stemming from the burning '
                'of fossil fuels and the manufacture of cement. They include '
                'carbon dioxide produced during consumption of solid, liquid, '
                'and gas fuels and gas flaring.',
  'sourceOrganization': 'Carbon Dioxide Information Analysis Center, '
                        'Environmental Sciences Division, Oak Ridge National '
                        'Laboratory, Tennessee, United States.',
  'topics': [{'id': '19', 'value': 'Climate Change'},
             {'id': '6', 'value': 'Environment '}]}]

data = pd.read_csv("../Resources/Indicators.csv")

data.head()

gdp_us = data[data["IndicatorName"]=="GDP per capita (current US$)"]

gdp_us = gdp_us[gdp_us["CountryName"]=="United States"]

gdp_us.head()

country_list = ["United States","United Kingdom","Japan","China","India","Mexico"]

country_df = pd.DataFrame({"Country":country_list})

country_df.head()

co2_us = data[data["IndicatorName"]=="CO2 emissions (metric tons per capita)"]

co2_us = co2_us[co2_us["CountryName"].isin(country_df["Country"])]

co2_us.head(6)

x_axis = pd.DataFrame(co2_us["Year"].unique(),columns = "Year")
x_axis.head()

x_axis = co2_us["Year"].unique
y_axis = co2_us["Value"]

co2_us.plot(kind="line")